
h1{
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Playpen Sans', cursive;
    padding-left: 43px;
    margin: -2px;
}
h2{
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Playpen Sans', cursive;
    padding-left: 110px;
    margin: -2px;
}

.card{
    border: 2px solid;
    border-color: rgb(255, 255, 255);
    margin-top: 3rem;
    
    
    left: 25%;
    right: 25%;
    height: 90vh;
    background-color:seashell;
}
.card2{
    border-radius: 30px;
    margin-top: 1rem;
    position: absolute;
    left: 40px;
    right:60%;
    height: 55vh;
    background-color:rgb(223, 194, 173);
    
}
.dimg{
    padding-left: 3rem;
}
.con{
    font-family: 'Kanit', sans-serif;
    font-family: 'Playpen Sans', cursive;
    margin-top: -50px;
    padding: 50px;
}
.ed{
    font-family: 'Kanit', sans-serif;
    font-family: 'Playpen Sans', cursive;
    font-size: 30px;
    margin-top: 3rem;
    padding-left: 600px;
}
